################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.wsuo
*.vs
*.vsidx
*.slnx
*.json
*.slnx
*.sqlite
/Testing Scripts/New.sql
/Testing Scripts/Old.sql
/Procedures/Utility.MRG_processSCD2Date.sql
/Procedures/Utility.MRG_processSCD2DateAndCurrent.sql
/Procedures/Utility.MRG_processSCD2Version.sql
/Procedures/Utility.MRG_processSCD4.sql
