################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.wsuo
*.vs
*.vsidx
*.slnx
*.json
*.slnx
*.sqlite
/Testing Scripts/New.sql
/Testing Scripts/Old.sql
