################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SQLTools.slnx/v18
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/SQLTools.slnx/FileContentIndex/2d1cd22a-ccb4-49fd-b86a-3a4820c83558.vsidx
/.vs/SQLTools.slnx/FileContentIndex/2078c006-def5-43ee-8830-aac35a221e3d.vsidx
/.vs/SQLTools.slnx/FileContentIndex/415e9d73-003a-4f93-904e-2a8fa8a2e503.vsidx
